@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared style */

.our-features-container,
.love-features-container,
section{
  margin-top: 100px;
}
.benne-container,
.navber,
section{
  max-width: 1440px;
  margin: 0 auto;
}
.display-flex{
  display: flex;
}
a{
  text-decoration:none;
}
li{
  list-style: none;
}
/* dark-1 */
  .text-grey{
    color: rgba(19, 19, 19, 1);
  }
  /* dark-2 */
  .text-light-grey{
    color: rgba(66, 66, 66, 1);
  }
  /* dark-3 */
  .text-white-grey{
    color: rgba(114, 114, 114, 1);
  }
  .btn-primary{
      margin-top: 32px;
      padding: 20px;
      font-weight: 600;
      font-size: 1.25rem;
      color: rgba(255, 255, 255, 1);
      background-color: rgba(255, 144, 14, 1);
      border-radius: 8px;
      border: none;
    }

/* header style */

  /* navber style */
.background-color{
  background-color: rgba(255, 144, 14, 0.1);
}
.navber{
  padding-top: 55px;
  justify-content: space-between;
  align-items: center;
}
.nav-container{

}
.brands{
 font-weight: bold;
 font-size: 2.8rem;
}
.nav-links{
  gap: 24px;
}
.nav-list{
  font-weight: 500;
  font-size: 1.12rem;
}
/* banner style */
.benner-title{
  font-weight: bold;
  font-size: 4rem;
}
.benner-description{
  margin-top: 32px;
  font-weight: 400;
  font-size: 1rem;
}
.benner-text{
  margin-top: 116px;
  text-align: center;
}
.benner-img img{
  width: 100%;
  margin-top: 50px;
  margin-bottom: 45px;
  border-radius: 8px;
}
/* main sectoin style start */
/* our features start */
.our-features-container{
  gap: 73px;
  align-items: center;
}
.our-features-img{
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
}
.our-features-img div img{
  width: 100%;
  border-radius: 8px;
}
.our-features-text{
width:537px;
height: 304px;
position: relative;
top: 40px;
}
.our-features-description{
  margin-top: 24px;
}
.features{
  color: rgba(255, 144, 14, 1);
}
/* love features stary */
.love-features-container {
  gap: 50px;
  display: flex;
  align-items: stretch;
}
.love-features {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.love-features > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.love-features img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.love-features-title {
  border-left: 5px solid rgba(255, 144, 14, 1);
  padding-left: 40px;
}
.love-features-description {
  padding-left: 24px;
  margin-top: 24px;
}
.love-features img {
  width: 100%;
}
.feature-card {
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-top: 20px;
}
.feature-title {
  font-weight: 600;
  font-size: 1.25rem;
}
.feature-description {
  font-weight: 400;
  font-size: 1rem;
}
.experience-badge {
 width: 342px;
position: relative;
top: -100px;
left: -60px;
}
#experience-badge {
  font-weight: 700;
  font-size: 4.06rem;
}
/* some facts section is start  */
.facts-title{
  margin-top: 124px;
  font-weight: 700;
  font-size: 2.08rem;
}
.facts-description{
  margin-top: 24px;
  font-weight: 400;
  font-size: 1rem;
}
.facts-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.fact-cart{
  margin-top: 100px;
  border: 1px solid rgba(255, 144, 14, 1);
  border-radius: 8px;
  width: 160px;
  height: 160px;
  text-align: center;
  align-items: center;
  justify-content: center;

}
.facts-box-title{
  font-weight: 600;
  font-size: 2.8rem;
  color: rgba(66, 66, 66, 1);
}
.facts-box-description{
  font-weight: 600;
  font-size: 1.25rem;
  color: rgba(114, 114, 114, 1);
}
/* media query is start */
/* small device  */
@media screen and (max-width:576px){
  .navber,
  .our-features-container,
  .love-features-container{
    flex-direction: column;
    gap: 32px;
  }
  .facts-container{
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
  }
  .our-features-text{
    width: 100%;
    text-align: center;
  }
  .experience-badge {
    position: relative;
    left:2px;
  }
  
}

